body{
  overflow: hidden;
  background: url('./components/sidebar.jpg')
}

.material-icons{
  color: antiquewhite;
  text-shadow: 0px 2px 4px #050f0f;
}
.header-color{
background-image: url('./components/header-bg.jpg');
color: #008793;
text-shadow: 0px 2px 4px #050f0f;
}
.list-items{
color: #050f0f !important;
text-shadow: 0px 2px 4px #050f0f;
}

.landing-grid{
text-align: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;

}

.side-bar{
background: url('./components/sidebar.jpg');
}

.avatar-img{
  height: 150px;
  padding: 5em;
  border-radius: 50%;
  box-shadow: 0 8px 6px -6px black;
}

.banner-text{
  width:75%;
  margin: auto;
  text-align: center;
}
.banner-text h1{
  background: -webkit-linear-gradient(rgb(8, 8, 8), rgb(206, 51, 51));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(143, 141, 141);
  text-shadow:0px 4px 6px rgb(19, 10, 10);
  font-size: 66px;
  font-weight: bold;
 
}
.banner-text hr{
  
  text-align: center;
  border-top:5px solid rgb(12, 11, 11);
  width: 100%;
}

.banner-text p{
  
  color: white;
  font-size: 20px;
  padding: 1em;
  color:#2c3e50;
  text-shadow:0px 2px 4px rgb(19, 10, 10);
}
.social-links{

  text-align: center;
  display: flex;
  justify-content: space-between;
  width:50%;
  margin:auto;

}
.social-links i{
  background: -webkit-linear-gradient(rgb(228, 68, 68), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em;
  padding: 8px;
  text-shadow:0px 2px 4px rgb(19, 10, 10);

}
.projects-grid{
  display:flex;
}

.contact-body{
  margin: auto;
  position:fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  
}
.contact-grid{
  text-align:center;
  justify-content: center;
  width: 80%;
  height: 550px;
  color: black;
  margin-bottom: 20px;
  
}

.contact-grid h2{
  font-family: 'Lobster', cursive;
}
.contact-grid img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.contact-grid p{
  font-family: 'Patrick Hand', cursive;
  width: 75%;
  margin: auto;
  padding-top: 1em;
}
.contact-grid hr{
     border:dotted;
}




.contact-list i{
  font-size: 40px;
  padding-right: 5rem;
  color: #3498db;
}



.resume-body{ 
background: #2c3e50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.resume-left-col{
background:white;
}

.resume-left-col hr{
  width:200px;
  height: 5px;
}
.resume-left-col h2{
  font-size:30px;
}


.resume-left-col img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.resume-left-col h1{
  padding-top: 5px;
  color: black;
  text-transform: uppercase;
}

.resume-left-col h2{
  padding-top: 5px;
  color: gray;
  text-transform: uppercase;
}


.resume-right-col{
  background: black;
  color: red;
}

.resume-right-col h3{
  text-align: center;
  background:#004d7a
}
.table{
  background: #004d7a;
}